* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  position: sticky;
  top: 0px;
  z-index: 1;
}
.vertical-line {
  height: 60px;
}
.nav-search {
  width: 40%;
  height: 50px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  background-color: #f8f8f8;
  padding-left: 5px;
}
.nav-search > input {
  width: 80%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 10px;
}

#categories,
footer {
  width: 95vw;
  margin: auto;
}

.footer-r-3 {
  font-size: 14px;
  color: rgb(102, 102, 102);
  font-family: OKRA-REGULAR;
  line-height: 18px;
  margin: 12px;
}

.icon {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: black;
  /* color: white; */
  align-items: center;
  justify-content: center;
  font-size: 25px;
  text-decoration: none;
  margin: 15px;
}

#download-links > a {
  text-decoration: none;
  margin: 10px;
}
.footer-r-1 {
  display: flex;
  justify-content: center;
  padding-left: 10px;
}
#footer-table-1 {
  flex: 2;
}

#footer-table-2 {
  flex: 3;
}
table {
  width: 100%;
}
td {
  font-size: 14px;
  color: #6b6b6b;
  padding-bottom: 10px;
}

.scrollable-container {
  width: 95vw;
  margin: auto;
}

.container-list {
  white-space: nowrap; /*makes content to stay in present line*/
  overflow-x: scroll;
}

.container-list > img {
  display: inline-block; /*allows us to give height, width, margin to img's*/
  margin: 8px;
}

.container-list::-webkit-scrollbar {
  display: none; /*removes scroll bar*/
}
.category {
  width: 95vw;
  margin: auto;
}

.my-card {
  width: 200px;
  display: inline-block !important;
  margin-inline: 1%;
}
.my-card > img {
  margin-left: 10%;
}
.timer {
  display: flex;
  border-radius: 5px;
  background-color: #f8f8f8;
  width: fit-content;
  height: 15px;
}
.timer > h6 {
  font-size: 10px;
  margin-left: 4px;
}

.product-name {
  font-size: 13px;
  margin: auto;
  font-weight: 600;
  overflow: hidden;
}
.product-weight {
  color: #828282;
  font-weight: 200;
  font-size: 12px;
}
.product-price {
  font-size: 15px;
  font-weight: 900;
}

/* media screen tab */
@media screen and (max-width: 1260px){
  #hero{
      display: none;
  }
  
}
/* media screen mobile view */

@media screen and (max-width:415px) {
  
  nav,footer,.footer-r-1,.footer-r-2{
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding-top: 20px;
    padding-bottom: 20px;
    position: static;
  }

  .vertical-line{
    display: none !important;
    
  }
  .nav-search{
    width:80% !important;
  }
  #hero{
    display:none !important;
  }

  #footer-table-1,#footer-table-2{
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    margin-top: 10px;
  }
  .footer-r-2>div{
    width:90vw !important;
  }
  table{
    width:90vw;
  }

  td{
    padding-inline: 10px;
  }

}
